/* Input fields on cancel booking page */
.form-input {
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 5px;
}

/* Buttons on cancel booking page */
.cancel-btn {
  background-color: #9cfac3;
  border: 1px solid #9cfac3;
  color: black;
  margin-left: 34px;
}

/* Prevent bootstrap hover override */
.cancel-btn:hover {
  background-color: #9cfac3;
  border-color: #9cfac3;
  color: black;
}

/* Shared result box style for cancellation pages */
.cancellation-result-box {
  max-width: 520px;
  padding: 40px 20px;
  border-radius: 8px;
}

/* Light green box for successful cancellation */
.cancellation-success-box {
  background-color: #d9f8df;
}

/* Light red box for unsuccessful cancellation */
.cancellation-error-box {
  background-color: #e53333c5;
}
