.movie-text-block {
  width: 100%;
  min-height: auto;
  font-size: 0.9rem;
  line-height: 1.4;
}

.movie-description {
  line-height: 1.6;
  text-align: center;
}

.movie-drink-tips {
  margin-top: 1rem; // small vertical spacing
}
