.btn.btn-trailer {
  background-color: #2ab5a0;
  color: white;

  &:hover {
    background-color: darken(#2ab5a0, 10%);
    color: white;
  }
}

// Biljetter-knappen (orange)
.btn.btn-biljetter {
  background-color: #e8872a;
  color: white;

  &:hover {
    background-color: darken(#e8872a, 10%);
    color: white;
  }
}