//@use "bootstrap-breakpoints";
@use "bootstrap";
//@use "card-colors";
//@use "buttons";
@use "images";
@use "menu";
@use "search";
@use "movieInfo";
@use "movie-details";
@use "moviecard";
// @use "sticky-footer";
// Import fonts from Google Fonts
// @import url("https://fonts.googleapis.com/css2?family=Chewy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");