.snacks-page {
  padding: 40px;
  min-height: 100vh;
  background-color: #efe7cf;
  display: flex;
  font-display: swap;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000000;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
}

.snacks-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px;
}

.back-btn,
.close-btn {
  background: transparent;
  border: 2px solid #000000;
  border-radius: 14px;
  padding: 6px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.back-btn {
  border: none;
  font-size: 2.5rem;
  padding: 0;
  line-height: 1;
}

.logo {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  text-align: center;
  text-shadow: 3px 3px 0 #00000020;
}

.snacks-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px 40px;
}

.snacks-title {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 20px 0 24px;
  text-align: center;
}

.snacks-card {
  background: #cfe8bc;
  border-radius: 50px;
  padding: 10px 32px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
  width: 50%;
  margin: 0 auto;
}

.snack-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 18px 0;
}

.snack-name,
.snack-price {
  font-size: 1, 4rem;
  width: 100%;
  font-weight: 500;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
}

.snack-price {
  white-space: nowrap;
}

.snacks-info {
  width: 50%;
  margin-top: 0px;
  background: #fc5353;
  color: #ffffff;
  border: none;
  border-radius: 18px;
  padding: 18px 10px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
}

.snacks-footer {
  margin-top: auto;
  background: z#dddbb8;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 28px 24px;
  font-size: 1.1rem;
}

.footer-left p,
.footer-right p {
  margin: 8px 0;
}

.footer-right {
  text-align: right;
}

@media (max-width: 768px) {
  .logo {
    font-size: 2.2rem;
  }

  .snacks-title {
    font-size: 3.2rem;
  }

  .snack-name,
  .snack-price {
    font-size: 1.4rem;
  }

  .buy-info-btn {
    font-size: 1.0rem;
  }

  .snacks-footer {
    font-size: 1rem;
  }
}